---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import BackToPrevious from "@components/BackToPrevious.astro";
import Link from "@components/Link.astro";
import TableOfContents from "@components/TableOfContents.astro";

export async function getStaticPaths() {
  const notes = (await getCollection("notes"))
    .filter((post) => !post.data.draft)
    .sort((a, b) => a.data.title.localeCompare(b.data.title));
  return notes.map((note) => ({
    params: { slug: note.slug },
    props: note,
  }));
}
type Props = CollectionEntry<"notes">;

const note = Astro.props;
const { Content, headings } = await note.render();
---

<Layout title={note.data.title} description={note.data.description}>
  <Container>
    <div class="animate">
      <BackToPrevious href="/notes">Back to notes</BackToPrevious>
    </div>
    <div class="animate my-10 space-y-1">
      <h1 class="text-3xl font-semibold">
        {note.data.title}
      </h1>
    </div>
    <TableOfContents headings={headings} />
    <article class="animate">
      <Content />
    </article>
  </Container>
</Layout>
